@charset "utf-8";
/* Main CSS Document for DEVTEST.xyz */


/* PROLOUGE: Font-declarations, etc... */
@font-face {
    font-family: devtestxyz;
    src: url(../fonts/devtestxyz.eot);
    src: url(../fonts/devtestxyz.svg);
    src: url(../fonts/devtestxyz.ttf);
    src: url(../fonts/devtestxyz.woff);
}

 
/* PART 1: Template structure, common elements */   
html, body {
    margin: 0;
    padding: 0;
}

body {
    color: #3d3d42;
    font-family: Open Sans, Arial, Gotham, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    margin: auto;
    max-width: 1000px;
}

.column {
    float: left;
}

.column.two {
    width: 48%;
}

h1, h2, h3, h4, h5, h6, a {
    color: #E15260;
}

a:hover, a:active {
    color: #2AAAFF;
}

h3, h4, h5, h6 {
    letter-spacing: 1px;
    text-shadow: 1px 0 0px #F9E0E2;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
}

h1 {
    font-size: 3em;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2 {
    font-size: 2.3em;
}

h3 {
    font-size: 1.75em;
    margin-top: 55px;
    margin-bottom: 15px;
}

h3.compact {
    line-height: 0;
    margin: 25px 0 0;
}

h4 {
    font-size: 1.45em;
    margin-top: 35px;
    margin-bottom: 35px;
}

h6 {
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 0;
    margin-top: 5px;
    margin-bottom: 60px;
    text-shadow: none;
}

p {
    margin-top: 15px;
    margin-bottom: 0px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.last {
    margin-right: 0;
    padding-right: 0;
}

.xyz-icon {
    font-family: devtestxyz;
}

* {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}


/* PART 2: Form styles */
.form-container h2 {
    color: #5a5a5a;
    margin-top: 17px;
    margin-bottom: 10px;
    text-align: center;
}

.form-container .input-group {
    margin-top: 27px;
    width: 155px;
}

.form-container label {
    color: #4c536a;
    font-size: .75em;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 0px -1px #ccc;
    text-transform: uppercase;
}

.form-container input, 
.form-container button, 
.form-container select,
.form-container .select-background {
    border: 0;
    box-sizing: content-box;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    margin-top: 2px;
    padding: 10px 10px;
    text-shadow: -1px 0px #eee;
    width: 135px;
    height: 20px;
}

.form-container .input-group.select {
    overflow: hidden;
    position: relative;
}

.form-container .select select {
    background-color: transparent;
    position: absolute;
        bottom: 0;
        left: 0;
    width: 165px;
    z-index: 5;
}

.form-container .select.small select {
    font-size: .9em;
    padding-left: 5px;
    width: 170px;
}

.form-container .select-background {
    background-color: #fff;
    position: relative;
}

.form-container .select button {
    font-size: 1em;
    margin: 0;
    padding: 10px 0;
    position: absolute;
        bottom: 0;
        right: 0;
    text-align: center;
    width: 40px;
    height: 20px;
    z-index: 1;
}

.form-container button {
    background-color: #F69679;
    color: #fff;
    font-size: 1.8em;
    line-height: 0;
    margin-top: 10px;
    padding: 13px 15px;
    text-align: left;
    text-shadow: none;
    height: 24px;
    width: 125px;
}

.form-container button:hover, 
.form-container button:active,
.form-container .select:hover button, 
.form-container .select:active button {
    background-color: #F17C4D;
}

.form-container span {
    display: block;
    float: left;
}

.form-container button .xyz-icon {
    display: block;
    font-size: .85em;
    float: right;
    margin: 2px 4px -10px 0;
}


/* PART 3: Top Red "Featured" section */
.featured {
    background-color: #E15260;
    background: radial-gradient(400px at 50% 105%, #FF848D, #E15260);
    padding-bottom: 150px;
    width: 100%;
}

/* PART 3 SECTION 1: Header */
header {
    padding: 0;
}

header a:hover, header a:active {
    color: #000;
}

header #top-bar {
    border-bottom: 1px solid #CC4B58;
    overflow: hidden;
    padding: 30px 0;
}

header .logo {
    margin: -10px 0px -15px -2px;
    width: 305px;
    height: 60px;
}

header .logo img {
    width: 100%;
    height: 100%;
}

header .form-container {
    width: 340px;
}

header .form-container input[type="text"] {
    color: #898989;
    float: left;
    font-size: .9em;
    font-weight: normal;
    margin: 0;
    text-shadow: none;
    width: 260px;
}

header .form-container button.xyz-icon {
    float: right;
    font-size: 1.1em;
    line-height: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 30px;
    height: 20px;
}

header nav {
    border-top: 1px #ED5968 solid;
    overflow: hidden;
    padding-top: 13px;
    padding-left: 1px;
}

header nav a {
    color: #fff;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin-right: 182px;
    text-decoration: none;
    text-transform: uppercase;
}

/* PART 3 Section 2: Featured content (title, form) */
.featured-content {
    overflow: hidden;
    padding-top: 105px;
    padding-bottom: 10px;
}

.featured-text h1 {
    color: #fff;
    line-height: 1.2em;
    margin-top: 135px;
    max-width: 460px;
}

.featured-action {
    background-color: #e1e1e1;
    border-radius: 4px;
    box-shadow: 0px 1px 1px 0px #555;
    float: right;
    padding: 1px 30px 0;
    width: 320px;
    height: 399px;
}

/* use Angular to animate form pages */
.ng-view-container {
    overflow: hidden;
    position: relative;
    height: 300px;
    width: 100%;
}

.ng-view-container section {
    position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    overflow: hidden;
    width: 100%;
}

.ng-view-container .ng-enter {
  left:100%;
}

.ng-view-container .ng-enter.ng-enter-active {
  left:0;
}

.ng-view-container .ng-leave.ng-leave-active {
  left:-100%;
}


/* PART 4: Page Content */
.content {
    overflow: hidden;
    padding-bottom: 100px;
    width: 100%;
}

.content p {
    font-weight: 300;
    line-height: 1.5em;
    text-shadow: 1px 0 0 #eee;
}


/* PART 4: Footer */
footer {
    width: 100%;
}

footer .container {
    border-top: 1px #000 solid;
    padding-top: 30px;
    padding-bottom: 50px;
    overflow: hidden;
}

footer .logo {
    width: 200px;
    height: 35px;
}

footer .logo img {
    width: 100%;
    height: 100%;
}

footer nav.column.two {
    width: 430px;
}

footer nav a {
    color: #000;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin-right: 25px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 0 0 #ddd;
}

footer p {
    font-size: .9em;
    font-weight: 300;
    margin: 0;
    text-shadow: 1px 0 0 #ddd;
}


/* PART 6: Responsive styles */
/* Desktop - 1030px and up (design specification)
 * Tablet  - 768px - 1029px
 * Mobile  - 300px - 767px
 */

/* All except mobile */ 
@media (min-width: 768px) {
    #nav-dropdown { display: none; }
}

/* Tablet */
@media (max-width: 1029px) {
    
    .container { max-width: 700px; }
    
    header nav a { margin-right: 107px; }

    .featured-text h1 { font-size: 1.9em; max-width: 300px; }
        
}

/* Mobile */
@media (max-width: 767px) {
    
    .container { max-width: 300px; }
    .container.mobile-full { max-width: 100%; }
        
    .column.right { float: left; }
    .column.two { width: 100%; }
    
    h1 { line-height: 1.2em; margin-top: 60px; margin-bottom: 10px; }
    h3 { margin-top: 50px; margin-bottom: 10px; }
    h3.compact {line-height: 1.2em; margin-top: 15px; margin-bottom: 15px; }
    h4 { margin-top: 20px; margin-bottom: 25px; }
    p { margin-top: 10px; }
    
    header .logo { margin-top: -14px; margin-bottom: 0; width: 240px; }
    header #top-bar { border: 0; padding: 20px 0; height: 30px; }
    #search-bar { display: none; }
    header .form-container { width: 20px; }
    #nav-dropdown { padding: 5px; width: 20px; }

    header nav { opacity: 0; visibility: hidden; }
    header nav.show { opacity: 1; visibility: visible; }
    header nav { 
        background-color: #F69679; 
        border: 0;  
        padding-top: 10px;  
        position: absolute;
            top: 70px;
            left: 0;
        width: 100%;
     }
    header nav a { float: none; margin: 0; padding: 15px 0; text-align: center; }
    header nav a.last { padding-bottom: 30px; }
    
    .featured { padding-bottom: 60px; }
    
    .featured-content { padding: 0; }
    .featured-action { border-radius: 0; float: none; padding: 1px 0 0; width: 100%; }
    .form-container .input-group { width: 145px; }
    .form-container input, 
    .form-container select, 
    .form-container .select-background { width: 125px; }
    .form-container .select select { width: 155px; }
    .form-container button { width: 115px; }

    .featured-text { width: 100%; }
    .featured-text h1 {font-size: 3em; margin: 50px auto 0; max-width: 280px; }

    footer .logo { float: none; }
    footer nav.right { float: none; margin-top: 30px; }
    footer nav a { float: none; margin: 0; }
    footer .container { padding-bottom: 110px; }
}